body {
  margin: 0;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  color: #fff;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#sim {
  background: green;
  color: white;
}

#nao {
  background: red;
  color: white;
}